html {
  background: gray;
}

p {
  font-family: fantasy;
  font-stretch: extra-expanded;
  color: blue;
}

.stats {
  font-style: oblique;
  font-size: 3pc;
}

.ability {
  font-family: serif;
  font-size: 1.5pc;
}

.abimod {
  font-variant: small-caps;
}
